.repl_history
build
assets/wip/*
resources/*.nib
resources/*.momd
resources/*.storyboardc
resources/tmp/*
resources/images_src
resources/images/wip/*
resources/data/db-static.sqlite
resources/data/db-mods.plist
carchartscrawler
.dat*
tmp/*

resources/db/mods.plist

resources/db/metadata.plist

resources/db/mods.sqlite

resources/db/mods.sqlite-shm

resources/db/mods.sqlite-wal
