.repl_history
.dat*
tmp/*
build
resources/*.nib
resources/*.momd
resources/*.storyboardc
resources/tmp/*
resources/db/metadata.plist
resources/db/mods.plist
resources/db/mods.db
resources/db/mods.sqlite
resources/db/mods.sqlite-shm
resources/db/mods.sqlite-wal
resources/images/brands
resources/Icon*
resources/Default*
vendor/Pods
originals/iTunesArtwork@2x.png
